<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2 th:text="${msg}"></h2>
        
        
        
        <button id="test">测试</button>
    <script type="text/javascript" src="jquery-1.12.3.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $("#test").on("click", function() {
            $.ajax({
                "url": "http://localhost:8080/fastjson/test",
                "type": "get",
                "dataType": "json",
                "success": function(data) {
                    console.log(data);
                }
            })
        });
    });
    </script>
    </div>
    
    
</body>
</html>